.stargazer-banner {
	--__sl-banner-text: var(--sl-color-banner-text, var(--sl-color-text-invert));
	position: relative;
	padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
	background-color: var(--sl-color-banner-bg, var(--sl-color-bg-accent));
	overflow: hidden;
	isolation: isolate;
	z-index: 0;
	text-align: center;
	text-wrap: balance;
	box-shadow: var(--sl-shadow-sm);
}

.stargazer-wrapper {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.stargazer {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: var(--__sl-banner-text);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Ccircle cx='4' cy='4' r='4'/%3E%3C/svg%3E");
	mask-size: contain;
	mask-repeat: no-repeat;
}

.sl-banner {
	position: relative;
	z-index: 1;
	color: var(--__sl-banner-text);
	line-height: var(--sl-line-height-headings);
	padding: 0;
	background-color: transparent;
}

.sl-banner :global(a) {
	color: var(--__sl-banner-text);
	text-decoration-color: var(--__sl-banner-text);
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}
