starlight-menu-button button {
	border: 0;
	border-radius: 50%;
	width: var(--sl-menu-button-size);
	height: var(--sl-menu-button-size);
	padding: 0.5rem;
	background-color: transparent;
	color: var(--sl-color-black);
	box-shadow: none;
}

starlight-menu-button [aria-expanded='true'] button {
	background-color: transparent;
	color: var(--sl-color-black);
	box-shadow: none;
}

[data-theme='light'] starlight-menu-button button {
    background-color: transparent;
    color: var(--sl-color-white);
}

[data-theme='light'] starlight-menu-button [aria-expanded='true'] button {
	background-color: transparent;
	color: var(--sl-color-white);
}