.top-level > li a,
.top-level > li .group-label .large {
	font-size: var(--sl-text-lg);
	font-weight: 500;
}

.top-level li a[aria-current='page'],
.top-level li a[aria-current='page']:hover,
.top-level li a[aria-current='page']:focus {
	font-weight: 500;
	background-color: transparent;
	color: var(--sl-color-white);
}

.top-level :is(ul ul li) {
	border-inline-start: 1px solid var(--sl-color-gray-5);
}

@media (min-width: 50rem) {
	.top-level > li .group-label .large {
		font-size: var(--sl-text-base);
	}
	.top-level li a {
		font-size: var(--sl-text-sm);
	}
}