.sl-link-button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 999rem;
  display: inline-flex;
  font-size: var(--sl-text-sm);
  font-weight: 600;
  gap: 0.5em;
  line-height: var(--sl-line-height-headings, 1.1875);
  outline-offset: 0.25rem;
  padding: 0.5rem 1.125rem;
  text-decoration: none;
  outline: 1px solid transparent;
}

.sl-link-button.primary {
  background: var(--sl-color-bg-accent);
  border-color: transparent;
  color: var(--sl-color-text-invert);
  outline-color: transparent;
}
.sl-link-button.primary:hover {
  background: rgb(from var(--sl-color-bg-accent) r g b / 80%);
  outline-color: transparent;
  color: var(--sl-color-text-invert);
}
.sl-link-button.secondary {
  background: transparent;
  border-color: var(--sl-color-hairline-light);
  color: var(--sl-color-white);
  outline-color: transparent;
}
.sl-link-button.secondary:hover {
  border-color: var(--sl-color-hairline-shade);
  color: var(--sl-color-white);
  outline-color: transparent;
}
.sl-link-button.minimal {
  background: transparent;
  border-color: transparent;
  color: var(--sl-color-white);
  padding-inline: 0;
  outline-color: transparent;
}

.sl-link-button.minimal:hover {
  color: var(--sl-color-gray-2);
  outline-color: transparent;
}

.sl-link-button svg {
  flex-shrink: 0;
  width: 0.75em;
  height: 0.75em;
}

.sl-markdown-content .sl-link-button {
  margin-inline-end: 1rem;
}
.sl-markdown-content .sl-link-button:not(:where(p *)) {
  margin-block: 1rem;
}

@media (min-width: 50rem) {
  .sl-link-button {
    font-size: var(--sl-text-lg);
    padding: 0.65rem 1.15rem;
  }
}
