/* Steps.css */

.sl-steps {
  & > li::before {
    font-weight: 500;
    color: var(--sl-color-white);
    background-color: var(--sl-color-gray-6);
    box-shadow: inset 0 0 0 1px var(--sl-color-gray-5);
  }

  & > li::after {
    background-color: var(--sl-color-hairline-light);
  }
}

[data-theme='light'] .sl-steps > li::before {
  background-color: var(--sl-color-gray-7);
}