/* Starlight Tabs Custom Styling */
[role="tablist"] {
  border-bottom: 2px solid var(--sl-color-hairline-light);
  font-size: var(--sl-text-sm);
}

.tab {
  & > [role="tab"] {
    --sl-tab-color-border: transparent;
    box-shadow: 0 2px 0 var(--sl-tab-color-border);
    color: var(--sl-color-gray-3);
    font-weight: 500;
  }
  & [role="tab"][aria-selected="true"] {
    --sl-tab-color-border: var(--sl-color-accent-high);
    color: var(--sl-color-white);
    font-weight: 500;
  }
}

@media (hover: hover) {
  .tab > [role="tab"]:hover {
    color: var(--sl-color-white);
  }
}

@media (min-width: 50rem) {
  [role="tablist"] {
    font-size: var(--sl-text-base);
  }
}
