/* Starlight Tabs Custom Styling */
starlight-tabs {
  display: block;
}

.tablist-wrapper {
  overflow-x: auto;
}

[role="tablist"] {
  display: flex;
  list-style: none;
  border-bottom: 2px solid var(--sl-color-hairline);
  padding: 0;
  margin-bottom: 1rem;
}

.tab {
  display: flex;
}

.tab > [role="tab"] {
  --sl-tab-color-border: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: var(--sl-line-height-headings);
  padding: 0.275rem 1.25rem;
  text-decoration: none;
  box-shadow: 0 2px 0 var(--sl-tab-color-border);
  color: var(--sl-color-gray-3);
  outline-offset: var(--sl-outline-offset-inside);
  overflow-wrap: initial;
  font-weight: 500;
}

.tab > [role="tab"]:hover {
  color: var(--sl-color-white);
}

.tab [role="tab"][aria-selected="true"] {
  --sl-tab-color-border: var(--sl-color-text-accent);
  color: var(--sl-color-white);
  font-weight: 500;
}

.tablist-wrapper ~ [role="tabpanel"] {
  margin-top: 1rem;
}
