/* src/styles/stradocs/components/Asides.css */

.sl-markdown-content .callout[variant] {
  --callout-ic-note: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10M11 8a1 1 0 0 0 1 1h.008a1 1 0 1 0 0-2H12a1 1 0 0 0-1 1m1 9a1 1 0 0 0 1-1v-5a1 1 0 1 0-2 0v5a1 1 0 0 0 1 1' clip-rule='evenodd'/%3E%3C/svg%3E");
  --callout-ic-tip: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E");
  --callout-ic-warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M21.915 16.687L14.68 4.15A3.07 3.07 0 0 0 12 2.614c-1.119 0-2.12.574-2.68 1.537l-.002.003l-7.234 12.533c-.56.971-.56 2.13.001 3.1a3.07 3.07 0 0 0 2.682 1.546h14.466a3.07 3.07 0 0 0 2.681-1.547a3.07 3.07 0 0 0 .001-3.1M11 9a1 1 0 0 1 2 0v4a1 1 0 0 1-2 0zm1 9c-.736 0-1.334-.6-1.334-1.333s.598-1.334 1.334-1.334s1.333.6 1.333 1.334C13.333 17.4 12.736 18 12 18'/%3E%3C/svg%3E");
  --callout-ic-danger: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12.713 16.713Q13 16.425 13 16t-.288-.712T12 15t-.712.288T11 16t.288.713T12 17t.713-.288M11 13h2V7h-2zm1 9q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22'/%3E%3C/svg%3E");
  
  --callout-color: var(--sl-color-text);
  --callout-bg: var(--sl-color-gray-6);

  display: block;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.75rem;
  background: var(--callout-bg);
  padding: 0.5rem 1rem 0.5rem 3.25rem;
  color: inherit;
  font-size: var(--sl-text-sm);
  &::before {
    position: absolute;
    inset-block: calc(0.5em + ((var(--sl-line-height) - 1) * 0.5em));
    inset-inline-start: 0.5em;
    border-radius: 999px;
    background-color: var(--callout-color);
    width: 2px;
    content: "";
    font-size: inherit;
  }
  &::after {
    --icon-size: 1.25em;
    position: absolute;
    top: calc(
      0.5rem +
      (
        (
            (var(--sl-line-height) * var(--sl-text-sm)) -
              var(--icon-size)
          ) /
          2
      )
    );

    mask: var(--callout-icon) center / contain no-repeat;
    -webkit-mask: var(--callout-icon) center / contain no-repeat;
    inset-inline-start: 1.5em;
    background-color: var(--callout-color);
    width: var(--icon-size);
    height: var(--icon-size);
    pointer-events: none;
    content: "";
  }
  & *:first-child {
    margin-top: 0;
  }
  & *:last-child {
    margin-bottom: 0;
  }
  & > * + * {
    margin-block-start: 0.75rem;
  }
  & ul,
  & ol {
    margin-block: 0.5rem 0;
    padding-inline-start: 1.5rem;
  }
  & > li {
    margin-block-start: 0.375rem;
  }
  & li::marker {
    color: var(--callout-color);
  }
  & a {
    color: var(--callout-color);
    text-decoration-color: var(--callout-color);
  }
  & :not(pre) > code {
    font-size: var(--sl-text-code-sm);
    padding: 0.1em 0.4em;
    color: var(--callout-color);
    font-weight: 400;
    background-color: var(--sl-color-black);
  }
}

.sl-markdown-content {
  & .callout[variant="note"] {
    --callout-color: var(--sl-color-blue);
    --callout-icon: var(--callout-ic-note);
  }
  & .callout[variant="tip"] {
    --callout-color: var(--sl-color-green);
    --callout-icon: var(--callout-ic-tip);
  }
  & .callout[variant="warning"] {
    --callout-color: var(--sl-color-orange);
    --callout-icon: var(--callout-ic-warning);
  }
  & .callout[variant="danger"] {
    --callout-color: var(--sl-color-red);
    --callout-icon: var(--callout-ic-danger);
  }
}

[data-theme='light'] .sl-markdown-content .callout[variant] {
  --callout-bg: var(--sl-color-gray-6);
  border: none;
}
