starlight-toc ul ul a,
.isMobile ul ul a {
	border-inline-start: 1px solid var(--sl-color-hairline);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

starlight-toc ul ul a[aria-current='true'],
.isMobile ul ul a[aria-current='true'] {
	border-inline-start-color: var(--sl-color-text-accent);
}

.isMobile a {
	border-top: 0;
}