starlight-toc ul ul,
mobile-starlight-toc ul ul {
	position: relative;
}

starlight-toc ul ul::before,
mobile-starlight-toc ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0.5rem;
	width: 1px;
	background-color: var(--sl-color-hairline);
}

starlight-toc ul ul:has(a[aria-current='true'])::before,
mobile-starlight-toc ul ul:has(a[aria-current='true'])::before {
	background-color: var(--sl-color-text-accent);
}

mobile-starlight-toc .isMobile a {
	border-top: 0;
}