/* expressive-code.css */
.sl-markdown-content .expressive-code {
  font-family: var(--font-inter);
  display: block;
  & pre {
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.75rem;
    background: var(--sl-color-gray-6);
    
    & > code {
      font-family: var(--font-firaCode);
      font-size: var(--sl-text-code-sm);
    }
    &:focus-visible {
      outline: 3px solid var(--sl-color-accent-high);
      outline-offset: -3px
    }
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 99rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color:var(--sl-color-white);
      border: 4px solid transparent;
      background-clip: content-box;
      border-radius: 99rem
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--sl-color-gray-2)
    }
    &::-webkit-scrollbar-corner {
      background: transparent
    }
  }
  
  & .frame {
    --header-border-radius: 0.75rem;
    --tab-border-radius: 0.75rem;
    --code-background: var(--sl-color-gray-6);
    box-shadow: none;
    & .header {
      border-radius: var(--header-border-radius) var(--header-border-radius) 0 0;
    }
    & .title:empty:before {
      content: '\a0'
    }
    & pre {
      border: 1px solid var(--sl-color-gray-5);
      border-radius: 0.75rem;
      background: var(--sl-color-gray-6);
    }
  }

  & .frame.has-title {
    &:not(.is-terminal) .title {
      position: relative;
      font-size: var(--sl-text-sm);
      color: var(--sl-color-white);
      background: var(--sl-color-gray-6);
      border: 1px solid var(--sl-color-gray-5);
      border-bottom: none;
      &::after {
        content: "";
        position: relative;
        margin-inline-start: 1rem;
        border-top: none;
        border-bottom: none;
      }
      &::before {
        --ic-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round'%3E%3Cpath d='M4 4l8 8M12 4L4 12'/%3E%3C/svg%3E");
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-inline-end: 0.5rem;
        border-top: none;
        border-bottom: none;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        background-color: var(--sl-color-gray-3);
        -webkit-mask-image: var(--ic-close);
        -webkit-mask-repeat: no-repeat;
        mask-image: var(--ic-close);
        mask-repeat: no-repeat;
        pointer-events: none;
        line-height: inherit;
        font-size: inherit;
      }
    }

    &:not(.is-terminal) .header {
      background: var(--sl-color-black);
      &::before {
        border: 1px solid var(--sl-color-gray-5);
      }
    }
  }

  & .frame.is-terminal {
    --code-background: var(--sl-color-gray-6);

    background: var(--sl-color-gray-6);
    & .header {
      background: var(--sl-color-black);
      border: 1px solid var(--sl-color-gray-5);
      border-bottom: none;
      &::before {
        background-color: var(--sl-color-gray-3);
        opacity: 0.2;
      }
      &::after {
        border-bottom: 1px solid var(--sl-color-gray-5);
      }
    }
  }

  & .copy {
    & button {
      --ic-copy: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' stroke-width='2'%3E%3Cpath d='M3 14.4C3 12.1598 3 11.0397 3.43597 10.184C3.81947 9.43139 4.43139 8.81947 5.18404 8.43597C6.03968 8 7.15979 8 9.4 8H9.6C11.8402 8 12.9603 8 13.816 8.43597C14.5686 8.81947 15.1805 9.43139 15.564 10.184C16 11.0397 16 12.1598 16 14.4V14.6C16 16.8402 16 17.9603 15.564 18.816C15.1805 19.5686 14.5686 20.1805 13.816 20.564C12.9603 21 11.8402 21 9.6 21H9.4C7.15979 21 6.03968 21 5.18404 20.564C4.43139 20.1805 3.81947 19.5686 3.43597 18.816C3 17.9603 3 16.8402 3 14.6V14.4Z' stroke='currentColor'%3E%3C/path%3E%3Cpath d='M14.5999 2.00004C15.7033 2.00004 16.5917 1.99907 17.3088 2.05766C18.0374 2.11721 18.6776 2.24334 19.2698 2.54497C20.2105 3.02434 20.976 3.78977 21.4553 4.73051C21.7569 5.32268 21.8831 5.96279 21.9426 6.69145C22.0012 7.40861 22.0002 8.29686 22.0002 9.40044V11C22.0002 11.8814 22.0054 12.4683 21.9045 12.9756C21.5811 14.6018 20.4794 15.9354 19.0002 16.5811V14.2325C19.474 13.8078 19.8131 13.2361 19.9426 12.585C19.9954 12.3196 20.0002 11.9769 20.0002 11V9.40044C20.0002 8.26402 19.9998 7.47133 19.9495 6.85454C19.9 6.24944 19.8073 5.90108 19.6731 5.63774C19.3856 5.07358 18.9267 4.61477 18.3625 4.32719C18.0992 4.19302 17.7508 4.10028 17.1458 4.05083C16.529 4.00045 15.7362 4.00004 14.5999 4.00004H13.0002C12.0237 4.00004 11.6807 4.00496 11.4153 4.05766C10.7636 4.1873 10.1899 4.52519 9.76489 5.00004H7.41919C7.62878 4.52003 7.90928 4.07895 8.25024 3.69243C8.95995 2.88801 9.9261 2.31428 11.0247 2.09575C11.5319 1.99488 12.119 2.00004 13.0002 2.00004H14.5999Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
      
      background: rgb(var(--sl-color-black) / 80%);
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      border: 0;
      border-radius: 0.5rem;
      width: 2rem;
      height: 2rem;
      -webkit-backdrop-filter: blur(24px);
      backdrop-filter: blur(24px);
      opacity: 0.75;

    }
    & button > svg {
      flex-shrink: 0;
    }
    & button div {
      background: rgb(var(--sl-color-black) / 80%);
    }
    & button::before {
      border: 1px solid var(--sl-color-gray-5);
    }
    & button::after {
      margin: 0.5em;
      background-color: var(--sl-color-gray-1);
      -webkit-mask: var(--ic-copy) center / contain no-repeat;
      mask: var(--ic-copy) center / contain no-repeat;
    }
    & button:focus {
      outline-color: var(--sl-color-accent);
    }
    & .feedback {
      --tooltip-bg: var(--sl-color-black);
      --tooltip-arrow-size: 0.35rem;
      border-radius: 99rem;
      color: var(--sl-color-white);
      font-size: var(--sl-text-xs);
      transform: translate3d(0, 0.25rem, 0);
    }
  }

  & .frame.has-title pre,
  & .frame.has-title code,
  & .frame.is-terminal pre,
  & .frame.is-terminal code {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

[data-theme='light'] .sl-markdown-content .expressive-code:not(:where(.not-content *)) {
  & pre {
    background: var(--sl-color-gray-7);
  }
  & .frame pre {
    background: var(--sl-color-gray-7);
  }
}

@media (hover: hover) {
  .sl-markdown-content .expressive-code:not(:where(.not-content *)) {
    & .copy {
      & button:hover {
        outline-color: var(--sl-color-accent);
      }
    }
  }
}
@media (max-width: 50em) {
  .sl-markdown-content .expressive-code:not(:where(.not-content *)) {
    & .copy {
      & button {
        opacity: 1;
      }
    }
  }
}