@import './stradocs/prose/Blockquote.css';
@import './stradocs/prose/Code.css';
@import './stradocs/prose/Details.css';
@import './stradocs/prose/Footnotes.css';
@import './stradocs/prose/Heading.css';
@import './stradocs/prose/Inline.css';
@import './stradocs/prose/Link.css';
@import './stradocs/prose/LinkAlt.css';
@import './stradocs/prose/List.css';
@import './stradocs/prose/Media.css';
@import './stradocs/prose/Table.css';

.sl-markdown-content {
  display: block;
  flex: 1;
  isolation: isolate;
  width: 100%;
}

/* ============================================================
   Starlight aside / components
   ============================================================ */
.sl-markdown-content {
  & .starlight-aside a:not(:where(.not-content *)) {
    color: inherit;
    text-decoration-color: var(--sl-color-asides-text-accent);
  }

  & .starlight-aside details:not(:where(.not-content *)) {
    --sl-details-border-color: var(--sl-color-asides-border);
    --sl-details-border-color--hover: var(--sl-color-asides-text-accent);
  }
}

/* ============================================================
   @supports
   ============================================================ */
@supports (border-color: color-mix(in srgb, red 30%, transparent)) {
  .sl-markdown-content .starlight-aside :is(th, td, hr, blockquote):not(:where(.not-content *)) {
    border-color: color-mix(in srgb, var(--sl-color-asides-text-accent) 30%, transparent);
  }

  .sl-markdown-content .starlight-aside code:not(:where(.not-content *)) {
    border-color: color-mix(in srgb, var(--sl-color-asides-text-accent) 12%, transparent);
  }
}