* {
  scrollbar-color: var(--sl-color-accent-high) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 99rem;
  background: var(--sl-color-accent);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sl-color-accent);
}

::selection {
  background: var(--sl-color-accent);
  color: var(--sl-color-text-white);
}

[data-theme='light']::selection {
  background: var(--sl-color-accent-high);
  color: var(--sl-color-text-invert);
}

body {
  hanging-punctuation: first last;
  line-height: var(--sl-line-height);
  font-family: var(--__sl-font);
  font-feature-settings: "ss01" on, "ss02" on, "kern" on;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--sl-color-bg);
  color: var(--sl-color-text);
  scroll-behavior: smooth;
}

input::placeholder,
textarea::placeholder {
  color: var(--sl-color-gray-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}