*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: var(--sl-color-hairline);
}

* {
  margin: 0;
}

* {
  scrollbar-color: var(--sl-color-gray-4) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: var(--sl-color-gray-4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sl-color-gray-2);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-button:horizontal,
::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
  display: none !important;
  opacity: 0 !important;
  background: transparent !important;
  width: 0 !important;
  height: 0 !important;
}

::selection {
  background: var(--sl-color-accent);
  color: var(--sl-color-text-invert);
}

body {
  hanging-punctuation: first last;
  line-height: var(--sl-line-height);
  font-family: var(--__sl-font);
  font-feature-settings: "ss01" on, "ss02" on, "kern" on;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--sl-color-bg);
  color: var(--sl-color-text);
  scroll-behavior: smooth;
}

input::placeholder,
textarea::placeholder {
  color: var(--sl-color-gray-3);
}