.sl-markdown-content {
  & blockquote:not(:where(.not-content *)) {
    position: relative;
    display: block;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1rem;
    padding-block: 0.5em;
    border-inline-start: none;
    color: var(--sl-color-white);
    font-size: var(--sl-text-h5);

    &::before {
      content: "";
      position: absolute;
      inset-block: 0.75em;
      inset-inline-start: 0.25em;
      width: 3px;
      background: var(--sl-color-gray-4);
      border-radius: 99rem;
    }
    & cite:not(:where(.not-content *)) {
      color: var(--sl-color-gray-3);
      font-size: var(--sl-text-sm);

      &::before {
        content: "\2014";
        padding-inline-end: 0.5rem;
        color: var(--sl-color-gray-3);
      }
    }
  }
}

@media (min-width: 50em) {
  .sl-markdown-content {
    & blockquote:not(:where(.not-content *)) {
      font-size: var(--sl-text-h4);
    }
  }
}
