.sl-markdown-content {
  & .footnotes :is(div.sl-heading-wrapper):not(:where(.not-content *)) {
    display: none;
  }
  & .footnotes:not(:where(.not-content *)) {
    margin-top: 1.5rem;
    font-size: var(--sl-text-sm);
    color: var(--sl-color-gray-3);
    & ol:not(:where(.not-content *)) {
      padding-inline-start: 1.25rem;
      & li:not(:where(.not-content *)) {
        margin-bottom: 0.5rem;
      }
    }
    & a[data-footnote-backref]:not(:where(.not-content *)) {
      margin-inline-start: 0.25em;
      color: var(--sl-color-accent-high);
      text-decoration: none;

      &:hover { color: var(--sl-color-accent); }
    }
    & a[data-footnote-ref]:not(:where(.not-content *)) {
      text-decoration: none;
    }
  }
}