/* Heading.css */
.sl-markdown-content {
  & :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
    line-height: var(--sl-line-height-headings);
    font-family: var(--font-montserrat);
  }
  & :is(h1, h2):not(:where(.not-content *)) {
    color: var(--sl-color-white);
  }
  & :is(h3, h4):not(:where(.not-content *)) {
    color: var(--sl-color-gray-1);
  }
  & :is(h5, h6):not(:where(.not-content *)) {
    color: var(--sl-color-gray-2);
  }
  & :is(h1, h2, h3, h4, h5, h6) code:not(:where(.not-content *)) {
    font-size: inherit;
  }
  & h1:not(:where(.not-content *)) { font-weight: 700; }
  & h2:not(:where(.not-content *)) { font-weight: 600; }
  & h3:not(:where(.not-content *)) { font-weight: 500; }
  & h4:not(:where(.not-content *)) { font-weight: 500; }
  & h5:not(:where(.not-content *)) { font-weight: 500; }
  & h6:not(:where(.not-content *)) { font-weight: 500; }
}